# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-2
run-3
runs
run-data
*.cache

repo

### Minecraft Modding ###
run/
run-2/
run-3/
!**/src/**/run/
repo/
!**/src/**/repo/